body {
margin:0;
background:#050310;
color:white;
font-family:Arial;
}

/* TELAS */
.screen {
display:none;
height:100vh;
padding:20px;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}

.active { display:flex; }

/* INPUT */
input {
width:100%;
padding:14px;
margin-top:10px;
border-radius:12px;
border:none;
background:#111;
color:white;
}

/* BOTÃO */
button {
padding:14px;
border:none;
border-radius:20px;
background:#7a00ff;
color:white;
margin-top:10px;
width:100%;
}

/* CHAT */
#chatScreen {
position:relative;
}

#chat {
flex:1;
overflow-y:auto;
width:100%;
padding-bottom:90px;
}

/* INPUT FIXO */
#inputArea {
position:fixed;
bottom:0;
width:100%;
display:flex;
padding:10px;
background:#050310;
}

#inputArea input {
flex:1;
}

#inputArea button {
width:auto;
margin-left:10px;
}

/* AURA */
#aura {
position:absolute;
top:50%;
left:50%;
width:250px;
height:250px;
transform:translate(-50%, -50%);
border-radius:50%;
background: radial-gradient(circle, rgba(122,0,255,0.9), transparent);
filter: blur(50px);
transition:0.3s;
}

/* MENU */
#menu {
position:fixed;
right:-100%;
top:0;
width:70%;
height:100%;
background:#111;
transition:0.3s;
padding:20px;
}

#menu.active { right:0; }

/* PAYWALL */
#paywall {
position:fixed;
inset:0;
background:rgba(0,0,0,0.95);
display:none;
justify-content:center;
align-items:center;
text-align:center;
}
